body {
    font-size: 20px;
    font-family:Arial, Helvetica, sans-serif;
    background-color: rgb(245, 236, 236);
    background-image: url("images/mcgill_bg.webp");
}

.header {
    background-color: rgb(220, 55, 22);
    background-image: url(images/header_bg2.avif);
    background-size: cover;
    height: 100px;
    margin-bottom: 20px;
    color: white;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid black;
}

.st-menu-head {
    background-color: rgb(217, 69, 64);
    height: 70px;
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid black;
    margin-bottom: 50px;
    color: white;


}

.choice-button {
    width: 350px;
    height: 70px;
    background-color: rgb(234, 86, 86);
    font-size: 34px;
    border: none;
    font-weight: 400;
    cursor: pointer;
}

.input-box {
    height: 25px;
    font-size: 18px;
    margin-bottom: 10px;
}

.submit-button {
    height: 32px;
    width: 80px;
    border: none;
    background-color: grey;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.back-button {
    height: 50px;
    width: 150px;
    border: 2px solid black;
    background-color: rgb(220, 55, 22);
    color: white;
    font-size: 18px;
    cursor: pointer;
    margin-bottom: 20px;
    margin-left: 40px;
}

.st-info-head {
    font-size: 30px;
    margin-left: 40px;
}

.st-info {
    margin-left: 0px;
}

.student-table {
    width: 600px;
    border-collapse: collapse;
    background-color: rgb(233, 233, 233);
    margin-bottom: 50px;
    font-size: 18px;
}

td {
    border: 0px solid black;
    padding: 15px 30px;


}

tbody tr:nth-of-type(even) {
    background-color: rgb(179, 236, 236);
}

.course-table {
    display: grid;
    grid-template-columns: 1fr 800px;
    gap: 10px;
}

thead {
    background-color: rgb(111, 217, 217);
    border-bottom: 2px solid black;
}

.ad-button {
    height: 35px;
    width: 160px;
    background-color: rgb(165, 165, 165);
    cursor: pointer;
    border: none;
    margin-right: none;
    margin-bottom: 15px;
    font-size: 18px;
}

.selected-button {
    background-color: grey;
    font-weight: 500;
    color: white;
    
}

.add-selected {
    background-color: rgb(47, 165, 47);
    font-weight: 500;
    color: white;
}

.drop-selected {
    background-color: rgb(184, 50, 50);
    font-weight: 500;
    color: white;
}

.main-grid {
    display: grid;
    grid-template-columns: 200px 800px 400px;
}

.main-window {
    border: 2px solid black;
    padding: 20px;
    height: 800px;
    margin: 20px 25px;
    background-color: rgba(235, 235, 235, 0.85);
    display: grid;
    justify-items: center;
    
    
}
.login-window {
    height: 1000px;
    padding: 20px;
    margin: 20px 0px;
    display: grid;
    justify-items: center;

}

.window-header {
    display: block;
    width: 35%;
    margin-left: auto;
    margin-right: auto;
    font-size: 35px;
}

.student-window {
    border: 2px solid black;
    padding: 20px;
    height: 1000px;
    margin: 20px 40px;
    background-color: rgba(238, 238, 238, 0.9);
}

.login-container {
    margin-top: 20px;
    display: grid;
    justify-content: center;
}

.login-button {
    border-radius: 20px;
    width: 140px;
    background-color: rgb(38, 90, 211);
    margin: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.login-text {
    margin-bottom: 10px;
    margin-top: 10px;
}

.error-text {
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    width: 300px;
    margin-top: 10px;
    margin-left: 200px;
    color: rgb(178, 26, 26);
    background-color: rgb(233, 171, 183);
}

.staff-window {
    height: 1300px;
}


.staff-table {
    width: 790px;
    border-collapse: collapse;
    margin-bottom: 50px;
    background-color: rgb(229, 229, 229);
}

.staff-course-table {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    gap: 10px;
    font-size: 16px;
}

.staff-button {
    width: 130px;
    height: 50px;
    background-color: rgb(40, 59, 198);
    color: white;
    font-size: 18px;
    border: none;
    font-weight: 300;
    cursor: pointer;
    margin-bottom: 15px;
    margin-right: 2px;
}

.course-error {
    margin-left: 0px;
    margin-top: 5px;
}

.students-button {
    color: blue;
    background: none;
    border: none;
    cursor: pointer;
    margin-left: 8px;
    text-decoration: underline;
}

.side-window {
    border: 2px solid black;
    padding: 10px;
    height: 800px;
    margin: 20px 25px;
    background-color: rgba(235, 235, 235, 0.85);
    display: grid;
    justify-items: center;
}



