{% extends "staff.html" %}

{% block content %}
<div class="staff-course-table">
            <table class="staff-table">
                <thead>
                    <tr>
                        <td>Student Name</td>
                        <td>Student ID</td>
                        <td>Program</td>
                    </tr>
                </thead>
                <tbody>
                    {% for student in school.students %}
                    <tr>
                        <td>{{ student.name }}</td>
                        <td>{{ student.id }}</td>
                        <td>{{ student.program }}</td>
                    {% endfor %}

                </tbody>
            </table>
        </div>
{% endblock %}